*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open sans", Arial, sans-serif;
}
header {
    background-image: linear-gradient(45deg, #3dada4, #c71fe6);
 color: white;
}
.contenedor {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li {
    margin: 0 5px;
}

button {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    max-height: 40px;
}

button:hover {
    background-color: white;
    color: rgb(59,59,59);
}

.hero {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1,
h5,
div {
    margin: 10px;
}

 .hero h1 {
     font-size: calc(16px + 2vw);
     text-align: center;
 }


.hero img {
    max-width: 75vw;
}
 
.caracteristicas {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.caracteristicas h2 {
    text-align: center;
}

.tarjetas {
    display: flex;
}

 .tarjeta{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px gray;
}

.tarjeta * {
    margin: 5px 0;
}

.tarjeta img{
    width: 60px;
}

.tarjeta a {
    text-decoration: none;
}

.tarjeta:nth-of-type(2) {
    background-image: linear-gradient(45deg, #3dada4, #c71fe6);
    color: white;
}
/* Menu */

#check {
    visibility: hidden;
    position: absolute;
    z-index: -99;
}

.show-menu-btn,
.hide-menu-btn {
    cursor: pointer;
    font-size: 30px;
    display: none;
}

.menu {
    transition-duration: 0.5s;
}

@media screen and (max-widht: 768px) {
    .tarjetas  {
        flex-direction: column;
    }
    
    .tarjetas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 

@media screen and (max-width: 572px) {
    .menu{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #c71fe6;
        flex-direction: column;
        padding: 100px 0;
        right: 100%;
    }

    .menu li {
        padding: 20px 0;
        font-size: 24px;
}

.hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
}

.hide-menu-btn,
.show-menu-btn {
    display: block;
}

#check:checked ~ .menu {
    right: 0;
 }
}